<div class="ion-page" #page>
  <ion-header class="headerBlock">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-img src="assets/images/logo.svg"></ion-img>
        <h5>Change Password</h5>
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
   
      <div class="loginwrapp">
        <!-- <ion-img class="logingLogo" src="assets/images/logo.svg" alt="logo"></ion-img> -->
        <div class="ion-paddingLogin">
          <!-- <ion-text>
            <h6>Thie verification email will be sent to the mailbox. Please check it.</h6>
          </ion-text> -->
  
  
          <form [formGroup]="changePasswordForm">
            <div class="logMarginbottom">
             <ion-item lines="none">
              <div class="iconLoginpos"><ion-icon name="lock-closed-outline"></ion-icon></div>
              <div class="inputlogin">
                <ion-button class="showOrHidePassword" (click)="showOrHidePassword()">
                  <ion-icon  *ngIf="isClicked===true" name="eye-off-outline"></ion-icon>
                  <ion-icon *ngIf="isClicked===false"  name="eye-outline"></ion-icon>
                </ion-button>
                <ion-label position="stacked">Current Password</ion-label>
                <ion-input [type]="initailType" placeholder="Enter Current Password" aria-label="password2"  
                formControlName="oldPassword"
                  [ngClass]="{ 'is-invalid': (submitted && form['oldPassword'].errors) || (form['oldPassword'].touched && form['oldPassword'].errors) }"></ion-input>
              </div>
            </ion-item>
            <div class="inputError" *ngIf="submitted||(form['oldPassword'].touched && form['oldPassword'].invalid)">
              <small class="form-text error-message" *ngIf="form['oldPassword'].errors"> Old Password is required</small>
            </div>
          </div>
          <div class="logMarginbottom">
            <ion-item lines="none">
              <div class="iconLoginpos"><ion-icon name="lock-closed-outline"></ion-icon></div>
              <div class="inputlogin">
                <ion-button class="showOrHidePassword" (click)="showOrHideNew()">
                  <ion-icon  *ngIf="isNewClicked===true" name="eye-off-outline"></ion-icon>
                  <ion-icon *ngIf="isNewClicked===false"  name="eye-outline"></ion-icon>
                </ion-button>
                <ion-label position="stacked">New Password</ion-label>
                <ion-input [type]="newType" placeholder="Enter New Password" aria-label="newPassword"
                formControlName="newPassword"
                [ngClass]="{ 'is-invalid': (submitted && form['newPassword'].errors) || (form['newPassword'].touched && form['newPassword'].errors) }"></ion-input>
              </div>
            </ion-item>
            <div *ngIf="submitted||(form['newPassword'].touched && form['newPassword'].invalid)">
              <small class="form-text error-message" *ngIf="form['newPassword'].errors"> Password is required</small>
              <small class="form-text error-message" *ngIf="form['newPassword'].errors?.['pattern']">Password must contain more than 8 characters, 1 upper case letter, and 1 special character, 1 number</small>
            </div>
          </div>

          <div class="logMarginbottom">
            <ion-item lines="none">
              <div class="iconLoginpos"><ion-icon name="lock-closed-outline"></ion-icon></div>
              <div class="inputlogin">
                <ion-button class="showOrHidePassword" (click)="showOrHideConfirm()">
                  <ion-icon  *ngIf="isConfirmClicked===true" name="eye-off-outline"></ion-icon>
                  <ion-icon *ngIf="isConfirmClicked===false"  name="eye-outline"></ion-icon>
                </ion-button>
                <ion-label position="stacked">Confirm Password</ion-label>
                <ion-input [type]="confirmType" placeholder="Enter Retype New Password" aria-label="retypePassword"  formControlName="retypePassword" 
                [ngClass]="{ 'is-invalid': (submitted && form['retypePassword'].errors) || (form['retypePassword'].touched && form['retypePassword'].errors) }"></ion-input>
              </div>
            </ion-item>
            <div class="inputError" *ngIf="submitted||(form['retypePassword'].touched && form['retypePassword'].invalid)">
              <small class="form-text error-message" *ngIf="form['retypePassword'].errors"> ReEnter the password</small>
            </div>
            <div class="inputError" *ngIf="submitted||(form['retypePassword'].dirty)">
              <small class="form-text error-message" *ngIf="!comparePassword()"> New Password and Confirm Password should be same. </small>

            </div>
           
          </div>     
            <ion-button expand="block" shape="round" size="default" (click)="onSubmit()">Submit</ion-button>
  
          </form>
        </div>
      </div>
      <div class="fixed-background"> </div>
  </ion-content>
  
 
