<ion-header [translucent]="true" class="ion-no-border ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>Locations</h1>
    </ion-title>     
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-ewallethome locationList">
  <div class="ewallethomeWrapp">
    <ion-card class='logoCard'>
      <ion-img class="loginLogo" src="../../assets/images/e-wallet-logo.svg"></ion-img>
      <!-- <h6>Your Ultimate Guide to Dine. Party. and Connect!</h6> -->
    </ion-card>
    <div>
      <h4>Please select location</h4>
      <ion-card class="ion-margin" *ngFor="let location of locationsData" class="location-card" (click)="selectLocation(location)">
        <h4 class="locationBt" size="default" expand="block"> <ion-icon slot="start" name="location"></ion-icon>{{location.location_name }} </h4>
        <h6><ion-icon slot="end" name="caret-forward"></ion-icon></h6>
      </ion-card>
    </div>
  </div>
</ion-content>