<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        
    </ion-buttons>
    <ion-title>
      <h5>List of Scanned Tickets</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Ticket List -->
  <ion-list>
    <!-- Example Ticket 1 -->
    <ion-card class="ticket-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://rpwebapps.us/clients/tanker/assets/images/about-2.jpg" alt="Event Image">
        </ion-thumbnail>
        <ion-label>
          <h2>Event Name</h2>
          <p>Venue: Some Venue</p>
          <p>Date: 2024-10-30 7:00 PM</p>
          <p>No. of Tickets: 3</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- Example Ticket 2 -->
    <ion-card class="ticket-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="https://rpwebapps.us/clients/tanker/assets/images/about-2.jpg" alt="Event Image">
        </ion-thumbnail>
        <ion-label>
          <h2>Another Event</h2>
          <p><b>Venue : </b> Another Venue</p>
          <p><b>Date : </b> 2024-11-05 7:00 PM</p>
          <p><b>No of Tickets : </b>2</p>
        </ion-label>
      </ion-item>
    </ion-card>

    <!-- More tickets can be added similarly -->
  </ion-list>
</ion-content>