<ion-content [fullscreen]="true">
  
    <div class="loginwrapp">
      <ion-img class="logingLogo" src="assets/images/logo.svg" alt="logo"></ion-img>
      <div class="ion-paddingLogin">
        <ion-text>
          <h1>Reset your password</h1>
          <h6>Thie verification email will be sent to the mailbox. Please check it.</h6>
        </ion-text>


        <form [formGroup]="forgotForm">
          <div class="logMarginbottom">
            <ion-item lines="none">
              <div class="iconLoginpos"><ion-icon name="mail-outline"></ion-icon></div>
              <div class="inputlogin">
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="Email" placeholder="Enter Your Email" formControlName="email"
                [ngClass]="{ 'is-invalid': (submitted && form['email'].errors) || (form['email'].touched && form['email'].errors) }"></ion-input>
              </div>
            </ion-item>
            <div *ngIf="submitted||(form['email'].touched && form['email'].invalid)">
              <small class="form-text error-message" *ngIf="form['email'].errors"> Email is required</small>
              <small class="form-text error-message" *ngIf="form['email'].errors?.['pattern']"> Please enter valid email
                id</small>
            </div>
        </div>   
          <ion-button expand="block" shape="round" size="default" (click)="onSubmit()">Submit</ion-button>

        </form>
      </div>
    </div>
    <div class="fixed-background">  </div>
</ion-content>

<ion-footer class="ion-no-border  loginFooter" text-center>
   
  <ion-text>Back to <span class="textLink" [routerLink]="['/login']">Log in <ion-icon slot="end"
        name="chevron-forward-outline"></ion-icon></span></ion-text>
</ion-footer>